body {
    font-family: 'Lato', sans-serif, system-ui;
    background-color: #f1f1f1;
}

.table {
    thead {
        border-bottom-color: #8f8f8f;
    }

    tbody tr:last-of-type {
        border-bottom-color: white;
    }
}
